@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full bg-slate-50 text-slate-800 antialiased;
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply min-h-full overflow-y-auto;
  }
}